body {
  background: rgb(19, 19, 19);
  background: rgb(17, 255, 215);
  background: rgb(0, 255, 128);
  background: rgb(255, 40, 40);

  background: rgb(130, 228, 255);

  color: #1d75b8;
  color: #ffa600;
  color: #ff9a16;
}
